* {
    margin: auto;
    margin: 0px;
    box-sizing: border-box;

}

body {
    background-color: none;
}

.intro {
    background-image: url(images/bag.jpg);
    height: 600px;
    width: 100%;
    background-attachment: fixed;
    position: ;
    background-size: cover;
    overflow: hidden;
    opacity: 90%;
}
.intro-text {
    position: absolute;
    margin: 200px 150px 0px 150px;
    color: white;
    
}

.content {
    position: relative;
    margin: 10px;
    padding: 30px;
}

.content li {
    list-style: none;
    margin-bottom: 50vh;
}

.skill li {
    display: inline-block;
    position: relative;
    top: -150px;
    margin: 5px;
    font-size: 25px;
    padding: 15px;
    border-radius: 18px;
    border: 2px solid black;
}

.skill li:nth-child(1):hover {
    background: #283593;
    transition: .3s ease;
    font-family: cursive;
    color: white;
    padding: 20px;
}

.skill li:nth-child(2):hover {
    background: #fff;
    transition: .3s ease;
    font-family: cursive;
    color: red;
    padding: 20px;
}

.skill li:nth-child(3):hover {
    background: #fff;
    transition: .3s ease;
    font-family: fantasy;
    color: #283593;
    padding: 20px;
}

.skill li:nth-child(4):hover {
    background: #3f51b5;
    transition: .3s ease;
    font-family: cursive;
    color: white;
    padding: 20px;
}

.skill li:nth-child(5):hover {
    background: #e64a19;
    transition: .3s ease;
    font-family: fantasy;
    color: #fff;
    padding: 20px;
}

.skill li:nth-child(6):hover {
    background: #283593;
    transition: .3s ease;
    font-family: cursive;
    color: white;
    padding: 20px;
}

.content h1 {
    border-bottom-right-radius: 60px;
    border-bottom: 5px solid orangered;
    width: 200px;
}

.intro-text h2 {
    margin-bottom: 15px;
    font-size: 65px;
}

.intro-text p {
    width: 50%;
    font-size: 20px;
    text-align: justify;
    color: yellow;
}

#load1 {
    position: absolute;
    background-color: #000;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 24;
}

#load1 span {
    font-size: 20px;
}

#load1 h1 {
    color: white;
    margin-top: 250px;
}
.b-menu
{
    cursor: pointer;
}
.b-menu #line1,
.b-menu #line2,
.b-menu #line3 {
    background-color: yellow;
    height: 3px;
    display: block;
    margin: 5px;
    left: 20px;
    top: -40px;
    width: 25px;
    position: relative;
    z-index: 1;
}

.b-menu #line1 {
    animation: close 0.8s ease;
}

.b-menu #line2 {
    animation: close2 0.8s ease;
}

.close-btn {
    position: absolute;
    opacity: 0%;
    transition: transform .8s ease-in;
}

.close-btn .line1,
.close-btn .line3 {
    background-color: yellow;
    height: 3px;
    margin: -2px;
    left: 26px;
    top: -30px;
    width: 25px;
    display: block;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

/*@keyframes close1
{
    from
    {
        transform: rotateZ(0deg);
    }
        to
    {
        transform: rotateZ(45deg);
    }
}
@keyframes close2
{
    from
    {
        transform: rotateZ(0deg);
    }
        to
    {
        transform: rotateZ(-45deg);
    }
}*/
.close-btn .line1 {
    transform: rotateZ(45deg);
    animation: close1 .5s ease-in;
}

.close-btn .line3 {
    transform: rotateZ(-45deg);
    animation: close2 .5s ease-in;
}

.nav-bar {
    height: 10vh;
    position: absolute;
    background-color: #0009;
    width: 100%;
    display: inline-block;
    z-index: 10;
}

.nav-bar li {
    list-style: none;
    display: block;
    position: relative;
    text-align: center;
    padding: 10px;
    margin-bottom: 25px;

}

.nav-bar .active {
    border-bottom: 3px solid yellow;
    transition: .3s ease;
}

.nav-bar li a:hover {
    border-bottom: 3px solid yellow;
    transition: .3s ease;
}

.nav-bar li a {
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 5px;
}

#m1 {
    z-index: 1;
}

.nav-bar .ico h5 {
    margin: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
}

span {
    color: yellow;
}

.ftr {
    background-color: black;
    width: 100%;
    height: auto;
    top: 590px;
    overflow: hidden;

}

.f-menu {
    position: relative;
    top: 0px;
    display: inline-block;
    justify-content: center;
    margin: 10px;
}

.f-menu li {
    position: relative;
    left: 1100px;
    margin: 8px;
    list-style: none;
    display: block;
}

.f-menu li a {
    text-decoration: none;
    color: white;

}

.f-menu h3,
.f-menu h5 {
    color: white;
    margin: 10px;
}

@media screen and (max-width: 1080px) {}

@media screen and (max-width: 760px) {
    .intro {
        background-image: url(images/bag3%20.jpg);
        height: 600px;
        width: 100%;
        background-attachment: fixed;
        position: ;
        background-size: 880px;
        overflow: hidden;
    }
    .intro-text .type
    {
        font-size: 45px;
        overflow: hidden;
    }

    #nav {
        background-color: red;
    }

    #m1 a {
        animation: txta .9s ease-in;
    }

    @keyframes txta {
        from {
            opacity: 0%;
        }

        to {
            opacity: 100%;
        }
    }
    .b-menu 
    {
    cursor: pointer;
    }
    .b-menu line1,
    .b-menu line2,
    .b-menu line3 {
        background-color: yellow;
        height: 3px;
        display: block;
        margin: 5px;
        left: 20px;
        top: -40px;
        width: 25px;
        position: relative;
        z-index: 2;
    }

    .nav-bar .menu {
        background-color: #000;
        margin: auto;
        width: auto;
        height: 0vh;
        display: none;

    }

    .nav-bar .menu li {
        display: flex;
        position: relative;
        left: 0px;
        justify-content: center;
        align-items: center;
        margin: auto;
        top: 15px;

    }

    .menu li a {
        color: yellow;
    }

    .intro-text {
        position: absolute;
        margin: 200px 110px 0px 50px;
        color: white;
    }

    .intro-text h2 {
        margin-bottom: 30px;
        margin: 0px -100px 40px -8px;
        font-size: 45px;
    }

    .intro-text p {
        width: 100%;
        font-size: 15px;
        text-align: justify;
    }
}
