*
{
    padding: 0;
    margin: 0;
}
body
{
background-color: black;

}
h1
{
    margin:10px ;
    
    padding: 0;
font-size:25px;
color: rgb(150, 141, 141);
text-align: center;
}
.form-box
{
    height: 390px;
    width: 320px;
    background-color: white;
    padding:20;
    border-radius: 20px;
    display:relative;
    margin: auto;
    margin-top: 20px;
}
.form-box input
{
    
    display: inline-block;
    margin: 10px;
    align-items: center;
}
.main-form
{

}
#rl,#yr,#am,#ir
{
    color: red;
    background-color: yellow;
    padding: 5px;
    border: 2px solid black;
    border-radius: 4px;
    text-align: center;

}
#result .res1
{
    display: flexbox;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
#btn
{
padding: 5px;
margin: 10px;
}


