body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aqua;
}
@media screen and (max-width:760px)
{
    body
    {
        margin: 0;
        padding: 0;
        background-color:white;
    }
    .navbar nav
    {
        width: 100%;
        background-color:#075E54;
        color: white;
        height: auto;
        font-family: 'Work Sans', sans-serif;
        height:20vh;
        position: absolute;
        z-index: 10;
        position: fixed;
    }
    .navbar h2
    {
        position: relative;
        margin: 15px ;
        font-size: 20px;
    }
    .navbar .menu ul
    {
        margin-top:65px ;
        margin-left: -44px;
    }
    .navbar .menu li:active
    {
     opacity: 100%;
    }
    .navbar .menu li
    {
        position: relative;
        height: 0;
        width: ;
        display: inline-block;
        list-style: none;
        margin-left: 45px;
    }
    .navbar .menu li a 
    {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    opacity: 80%;
    
    }
    .navbar .menu li a:active
    {
        border-bottom: 3px solid white;
        transition: 0.05s ease-in;
    }
    .navbar .menu li:nth-child(1)
    {
    margin-left:20px ;
    }
    .navbar .sbar
    {
        margin: 10px;
        float: right;
        margin-top: 15px;
    }
    .navbar .sbar li
    {
    list-style: none;
    display: inline-block;
    margin-left: 25px;
    float: left;
    }
    .navbar .sbar li i
    {
        font-size: 20px;
        position: relative;

    }
    .chat
    {
        height: auto;
        width: auto;
        position: absolute;
        z-index: 9;
        top: 130px;
        margin: auto;
    }
    .chat ul
    {
        margin: 20px 0px 0px -20px;
    }
    .chat ul .propic
    {
     border-radius: 50%;
     width: 60px;
     height: 60px;
    }
    .chat ul li
    {
        list-style: none;
        display: inline-block;
    }
    .chat ul li:nth-child(2)
    {
        font-size: 20px;
        position: relative;
        top: -30px;
        margin-left: 15px;
    }
    hr 
    {
        width: 80%;
    }
}
@media screen and (max-width:360px)
{
    body
    {
        margin: 0;
        padding: 0;
        background-color:white;
    }
    .navbar nav
    {
        width: 100%;
        background-color:#075E54;
        color: white;
        height: auto;
        font-family: 'Work Sans', sans-serif;
        height:20vh;
        position: absolute;
        z-index: 10;
        position: fixed;
    }
    .navbar h2
    {
        position: relative;
        margin: 15px ;
        font-size: 20px;
    }
    .navbar .menu ul
    {
        margin-top:50px ;
        margin-left: -44px;
    }
    .navbar .menu li:active
    {
     opacity: 100%;

    }
    .navbar .menu li
    {
        position: relative;
        height: 0;
        width: ;
        display: inline-block;
        list-style: none;
        margin-left: 25px;
    }
    .navbar .menu li a 
    {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    opacity: 80%;
    
    }
    .navbar .menu li a:active
    {
        border-bottom: 3px solid white;
        transition: 0.05s ease-in;
    }
    .navbar .menu li:nth-child(1)
    {
    margin-left:20px ;
    }
    .navbar .sbar
    {
        margin: 10px;
        float: right;
        margin-top: 15px;
    }
    .navbar .sbar li
    {
    list-style: none;
    display: inline-block;
    margin-left: 25px;
    float: left;
    }
    .navbar .sbar li i
    {
        font-size: 20px;
        position: relative;

    }
    .chat
    {
        height: auto;
        width: auto;
        position: absolute;
        z-index: 9;
        top: 110px;
        margin: auto;
    }
    .chat ul
    {
        margin: 20px 0px 0px -20px;
    }
    .chat ul .propic
    {
     border-radius: 50%;
     width: 60px;
     height: 60px;
    }
    .chat ul li
    {
        list-style: none;
        display: inline-block;
    }
    .chat ul li:nth-child(2)
    {
        font-size: 20px;
        position: relative;
        top: -30px;
        margin-left: 15px;
    }
    hr 
    {
        width: 80%;
    }
}